media (max-width:100%){
body {
    font-family: Arial, sans-serif;
    background:url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    background-size: cover;
    color:#fff;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
}
header {
    background-color: rgb(20,20,20);
    opacity: 0.5;
    color: #fff;
    text-align: center;
    padding: 50px;
}
.container {
    max-width: 800px;
    max-height:400px;
    margin: 200px auto;
    padding:20px auto;
    text-align: center;
}
#p{
    font-size:70px;
}
.glass{
    background:linear-gradient(135deg, rgb(255,255,255,0.1), rgb(255,255,255,0));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.20);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.40) ;
}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding : 0;
}

header nav ul li{
    display: inline-block;
    padding:0 20px 0 20px;

}

header nav ul li a{
    text-decoration: none;
    color: snow;   
}
    
ul{
    display: block;
    gap:2.5rem ;
}

li{
    display: flex;
    transition: .2s;
    font-size:large;
}

ul:hover li{
    filter: blur(5px);
}
ul li:hover{
    filter:blur(0px) ;
    transform: scale(1.5);
}

.clickme{
    border-radius: 2em;
    padding:20px 50px 20px 50px;
    background:black;
    margin-bottom: 50px;
    transition: 0.5s ease-out;
}
.clickme:hover{
    transform: scale(1.2);
    background:rgb(41, 41, 41);
}

button a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}